<!-- <button class="btn" (click)="GetAllCarts()">get all data</button> -->
  
<div class="container">
    <div class="d-flex justify-content-between my-2">
        <h1>Carts List</h1>
        <!-- <div>
            <i class="bi bi-cart cart-body"></i>
            @if(cartData.length>0){
                <span class="cart-num">{{cartData.length}}</span>
              }
        </div> -->
    </div>

        <div class="row">
            @for(carts of cartData; track carts.id){
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    @for(product of carts.products; track product.id){
                    <div class="col-3 py-3">
                        <div class="card" style="width: 20rem; height: 22rem; ">
                            <!-- <img src="..." class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <i class="bi bi-pencil-square float-end py-2 text-dark " [routerLink]="['/add-cart']"></i>
                                <i class="bi bi-archive-fill float-end py-2 text-danger mx-1" (click)="DeleteCarts(carts.id)"></i>
                                <div class="text-center my-3">
                                    <img [src]="product.thumbnail" alt="" height="150px" width="150px">
                                </div>
                              <p class="card-title" ><strong>{{product.title}}</strong></p>  
                              <p class="card-text">Price:{{product.discountedPrice}}<i class="bi bi-currency-rupee"></i></p>
                              <p class="card-text">Total Products:{{carts.totalProducts}}</p>
                            </div>
                          </div>
                    </div>

                        
                    }
            }
                </div>

                

    </div>

   

