
<div>
    <div class="d-flex justify-content-between m-2">
        <h1 class="text-center ">User List</h1>
        <button class="btn btn-primary" [routerLink]="['/user-add']">Add</button>
    </div>
    <div class="row my-3 d-flex  m-3">
    <div class="col">
      <input type="text" class="form-control  w-100" style="margin-right: 10rem;" placeholder="Search User" [formControl]="userSearch">
    </div>
      <!-- <div class="dropdown col">   
        <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-filter-right funnel"></i></a>
          <ul class="dropdown-menu">
          @for(key of userKey; track key){
            <li (click)="GetFilterValues(key)"><a class="dropdown-item">{{key}}</a></li>
          }
        </ul>
          
      </div> -->

      <div class="col">
        <select class="form-select" aria-label="Default select example" (change)="GetFilterValues()" [formControl]="filterKey">
          <option selected value="">Filter</option>
          @for(key of userKey; track key){
            <option  [value]="key">{{key}}</option>
            
          }
          </select>
      </div>

      
      <div class="col d-flex me-2">
          @if(filterKey.value){
          <select class="form-select" aria-label="Default select example" [formControl]="filterValue" (change)="FilterUser()">
            <option selected value="">Open this select menu</option>
            @for (value of filterValuesArray; track value) {
              <option [value]="value">{{value}}</option>
            }
          </select>
          <button class="btn" (click)="clearfilter()"><i class="bi bi-backspace"></i></button>
        }
      </div>
    </div>    

    
    <div>
        <table class="table my-2">
            <thead>
                <tr>
                <th scope="col">Image</th>
                <th scope="col">Username</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                @for(user of UserData; track UserData.id){
              <tr>
                <td><img [src]="user.image" alt="" height="50px" width="50px"></td>
                <td>{{user.username}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.age}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td ><button class="btn btn-outline-success me-2" (click)="UpdateUserData(user.id)">Update</button>
                  <button class="btn btn-outline-danger" (click)="DeleteUserData(user.id)">Delete</button></td>
              </tr>
            }
              
            </tbody>
          </table>
    </div>
</div>
